* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* button onmouse down */

body {
  /* background-color: #F6648C; */
  overflow-x: hidden;
}

.container-fluid {
}

.navbar {
  background: linear-gradient(to bottom, #000000, #035668);
  /* background: transparent; */
  /* border-bottom: 1px solid #ffffff; */
  box-shadow: 0 10px 30px #035668;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  /* color: transparent; */
  /* height: auto; */
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-family: 'Comfortaa';
  font-size: 2vw;
  text-transform: uppercase;
  -webkit-text-stroke: 0.2vw #f2f2f2;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 3px;
  animation: shine 5s linear infinite;
}

.navbar-brand::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  color: saddlebrown;
  -webkit-text-stroke: 0vw salmon;
  border-right: 4px solid rgb(75, 255, 255);
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.nav-item {
  margin: 0 5px;
}

.nav-item .contact-link i {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 10px;
  transition: 0.5s;
}

#navbarText ul li a {
  background: linear-gradient(to bottom, #022026, #035668);
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  /* transition: 0.5s; */
  overflow: hidden;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}
ul {
  /* text justify */
  text-align: justify;
}
#heroes {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  padding: 0;
  margin: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgb(163, 222, 222), #ffffff);
}

.about .text {
  color: black;

  text-transform: uppercase;
  width: 80vw;
  text-align: center;
}

.about .text h1 {
  /* width: 100%; */
  font-size: 18px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  /* animation: shine 1s ease-in-out infinite; */
}
.btn.btn-primary {
  animation: pulse 1s ease-in-out infinite;
}
.btn.btn-secondary {
  animation: shine 0.9s ease-in-out infinite;
  z-index: 99;
}
@keyframes shine {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de,
      0 0 45px #ff00de, 0 0 60px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }

  50% {
    text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 55px #ff00de, 0 0 75px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }

  0%,
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #ff00de,
      0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 110px #ff00de, 0 0 160px #ff00de;
  }
}

/* ++++++++++++++++++++++++++ */

.about {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, rgb(163, 222, 222), #f2a5a5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about img {
  height: 500px;
  /* padding: 10px; */
}

.about .information {
  width: 50%;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  /* padding-left: 100px; */
  padding: 15px;
}

.information p {
  list-style-type: none;
  color: white;
  /* font-size: 18px; */
  line-height: 1.5;
}
.information span {
  /* ?linethrough */
  font-size: 16px;

  text-decoration: line-through;
}

#text::first-letter {
  font-size: 78px;
  line-height: 0.9;
  float: left;
  margin-right: 8px;
}

.profile {
  position: relative;
  height: 80vw;
  width: 80vw;
  /* border-radius: 100% 100% 10px 10px; */
  border: 2px solid #ffffff;
  /* min-height: 3rem; */
  /* max-width: 30rem; */
}

.profile img {
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* overflow: clip; */
}

/* __________________________ */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
  font-family: 'Comfortaa';
  height: 100px;
  width: 100%;
  border: unset;
}

.social a {
  color: #ffffff;
  text-decoration: none;
}

.social a:hover {
  color: salmon;
  text-decoration: none;
}

.social i {
  font-size: 2rem;
  margin: 0 10px;
}

#contact .card {
  width: 65vw;
}

#contact .card ul {
  list-style-type: none;
  font-size: 0.5rem;
  line-height: 1.5;
  color: white;
  text-align: center;
}

#contact .card ul li a {
  color: white;
  text-decoration: none;
}

#contact .card ul li a:hover {
  color: salmon;
  text-decoration: none;
}

@media (max-width: 768px) {
  /* ++++++++++++++++++++++++++++++++++ */
  .about {
    flex-direction: column;
    padding: 30px;
  }

  .about > .information {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .about > .information ul {
    margin: 0;
    padding: 0;
  }

  #art h2 {
    padding: 50px;
    font-size: 1.1rem;
  }

  #resume .btn {
    font-size: 0.6rem;
    text-align: center;
  }

  #contact .card {
  }
}

/* IPAD */
@media (max-width: 1024px) {
  #navbarText ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar-nav {
    font-size: 0.875rem;
    /* font size for small screens */
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1;
    border: 1px solid white !important;
    border-radius: 0.2rem;
  }

  #navbarText {
    margin: 0;
  }

  .nav-link i {
    border: none;
    border-radius: unset;
    display: inline-block;
    padding-left: 10px;
  }

  #contact .card {
    width: 80vw;
  }
}
